* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Start Nav */
nav {
  padding: 25px 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

nav .container {
  width: 1200px;
  margin: auto;
}

nav .row {
  display: flex;
  justify-content: space-between;
}

nav .row .logo {
  flex: 60%;
  max-width: 60%;
}

nav .row .logo img {
  width: 19%;
}

nav .row .list-nav {
  flex: 40%;
  max-width: 40%;
}

nav .row .list-nav ul {
  list-style: none;
  display: flex;
}

nav .row .list-nav ul a {
  text-decoration: none;
  padding-right: 28px;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
}

nav .row .list-nav ul a i {
  font-size: 17px;
}

/* End Nav */

/* Start Header */
header {
  background-image: url(../img/business-main.jpg);
  width: 100%;
  height: 650px;
  background-size: cover;
  background-position: center;
  position: relative;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.1);
  position: relative;
}

header .header-dec {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header .header-dec h2 {
  color: #fff;
  font-size: 106px;
  letter-spacing: 2px;
  margin-bottom: 22px;
}

header .header-dec p {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

header .header-dec .btn-one,
header .header-dec .btn-two {
  padding: 15px 25px;
  font-size: 14px;
  text-transform: uppercase;
  border: 0;
  outline: none;
  margin-right: 10px;
  font-weight: 600px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

header .header-dec .btn-one {
  background-color: #4274b7;
  color: #fff;
  transition: 0.3s ease-in-out all;
  -webkit-transition: 0.3s ease-in-out all;
  -moz-transition: 0.3s ease-in-out all;
  -ms-transition: 0.3s ease-in-out all;
  -o-transition: 0.3s ease-in-out all;
}

header .header-dec .btn-one:hover {
  background-color: #fff;
  color: #333;
}

header .header-dec .btn-two {
  background-color: #fff;
  color: #333;
}

header .animat {
  position: absolute;
  bottom: 0;
  left: 48%;
}

header .animat .scroll-animat {
  display: inline-block;
  width: 30px;
  height: 50px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border: 2px solid #fff;
  text-align: center;
  overflow: hidden;
}

header .animat .scroll-animat span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  animation-name: scrollBtn;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes scrollBtn {
  0% {
    transform: translateY(-18px);
    -webkit-transform: translateY(-18px);
    -moz-transform: translateY(-18px);
    -ms-transform: translateY(-18px);
    -o-transform: translateY(-18px);
  }

  100% {
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    opacity: 0;
  }
}

/* End Header */

/* Start Data */
.data {
  padding: 65px 0;
}

.data .container {
  width: 1200px;
  margin: auto;
}

.data .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.data .container .row .data-info {
  flex: 33.3333%;
  max-width: 33.3333%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-right: 41px;
}

.data .container .row .data-info i {
  margin-left: 15px;
  font-size: 28px;
  padding: 20px;
}

.data .container .row .data-info h3 {
  font-size: 20px;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 7px;
  font-family: "Roboto", sans-serif;
}

.data .container .row .data-info p {
  font-family: "Roboto", sans-serif;
  color: #888;
  font-size: 15px;
  line-height: 25px;
}

/* End Data */

/* Start Who */
.who {
  background-color: #f8f8f8;
  padding: 50px 0;
}

.who .container {
  width: 1200px;
  margin: auto;
}

.who .container .row {
  display: flex;
  justify-content: center;
}

.who .container .row .who-img {
  flex: 50%;
  max-width: 50%;
}

.who .container .row .who-img img {
  width: 542px;
}

.who .container .row .who-dec {
  flex: 50%;
  max-width: 50%;
  padding-top: 58px 0 58px 21px;
}

.who .container .row .who-dec h2 {
  font-size: 37px;
  font-weight: 500;
  margin-bottom: 31px;
  color: #303030;
}

.who .container .row .who-dec p {
  font-size: 22px;
  line-height: 37px;
  color: #686868;
}

.who .container .row .who-dec ul {
  list-style: none;
}

.who .container .row .who-dec ul li {
  color: #686868;
  margin-bottom: 25px;
}

.who .container .row .who-dec ul li i {
  color: #4274b7;
  margin-right: 10px;
}

.who .container .row .who-dec .btn-one {
  padding: 15px 24px;
  color: #fff;
  background-color: #4274b7;
  border: 0;
  outline: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
}

/* End Who */

/* Start WhoTwo */
.who.two {
  background: #fff;
}

/* End WhoTwo */

/* Start Services */
.services {
  padding: 100px 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.services .container {
  background-color: #f8f8f9;
  width: 1200px;
  margin: auto;
}

.services .container .heading {
  margin-bottom: 70px;
}

.services .container .heading i {
  font-size: 29px;
  margin-bottom: 17px;
  color: #4274b7;
}

.services .container .heading h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #303030;
}

.services .container .heading p {
  color: #686868;
  font-weight: 600;
  letter-spacing: 1px;
}

.services .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.services .container .row .services-info {
  flex: 25%;
  max-width: 25%;
  margin-right: 20px;
}

.services .container .row .services-info i {
  background-color: #4274b7;
  padding: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 20px;
  color: #fff;
  font-size: 21px;
}

.services .container .row .services-info h4 {
  color: #303030;
  margin-bottom: 11px;
  font-weight: 600;
}

.services .container .row .services-info p {
  color: #686868;
  font-size: 17px;
  line-height: 25px;
}

/* End Services */

/* Start Testimonials */
.testimonials {
  background-image: url(../img/business-main.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.testimonials .overlay {
  width: 100%;
  height: 100%;
  background-color: #4f7fbb;
  opacity: 0.9;
  padding-top: 120px;
  color: #fff;
}

.testimonials .overlay .testimonials-des .comment {
  font-size: 43px;
  margin-bottom: 47px;
}

.testimonials .overlay .testimonials-des p {
  font-size: 25px;
  line-height: 45px;
  margin-bottom: 40px;
}

.testimonials .overlay .testimonials-des span {
  display: block;
}

.testimonials .overlay .testimonials-des .sp-one {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 18px;
}

.testimonials .overlay .testimonials-des .sp-two {
  font-size: 16px;
  color: #dcdcdc;
  margin-bottom: 20px;
}

.testimonials .overlay .testimonials-des .btn-test {
  background-color: transparent;
  border: 2px solid #ddd;
  color: #fff;
  padding: 8px;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-right: 5px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.testimonials .overlay .testimonials-des .btn-test:hover {
  background-color: #fff;
  color: #333;
}

/* End Testimonials */

/* Start Logo */
.logo-company {
  padding: 90px 0;
}

.logo-company .container {
  width: 1200px;
  margin: auto;
}

.logo-company .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-company .container .row .logo-img {
  flex: 22%;
  max-width: 22%;
  margin-right: 13px;
  text-align: center;
}

.logo-company .container .row .logo-img img {
  width: 80%;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.logo-company .container .row .logo-img img:hover {
  opacity: 1;
}

/* End Logo */

/* Start Work */
.work {
  background-color: #f8f8f8;
  padding: 100px 0;
  text-align: center;
}

.work .work-des h2 {
  font-size: 40px;
  margin-bottom: 22px;
  letter-spacing: 1px;
}

.work .work-des p {
  font-size: 28px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}

.work .work-des .btn {
  padding: 20px;
  border: 0;
  outline: 0;
  background-color: #4274b7;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.work .work-des .btn:hover {
  background-color: #333;
}

/* End Work */

/* Start Footer */
footer {
  padding: 100px 0 0;
  background-color: #161616;
  font-family: "Roboto", sans-serif;
}

footer .container {
  width: 1200px;
  margin: auto;
}

footer .container .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container .row .footer-info {
  flex: 22%;
  max-width: 22%;
}

footer .container .row .footer-info h4 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}

footer .container .row .footer-info .about-dec p {
  color: #58606b;
  line-height: 26px;
  font-size: 15px;
}

footer .container .row .footer-info .hours-info ul,
footer .container .row .footer-info .pages-info ul {
  list-style: none;
  color: #58606b;
}

footer .container .row .footer-info .hours-info ul li,
footer .container .row .footer-info .pages-info ul li {
  margin: 15px 0;
}

footer .container .row .footer-info .hours-info ul li i,
footer .container .row .footer-info .pages-info ul li i {
  margin-right: 10px;
}

footer .container .row .footer-info .pages-info ul li a {
  text-decoration: none;
  color: #58606b;
}

footer .container .row .footer-info .contact-list {
  color: #585858;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
}

footer .container .row .footer-info .contact-list i {
  margin-right: 10px;
}

footer .container .row .footer-info .contact-list span {
  font-size: 15px;
  line-height: 23px;
}

footer .container .row .footer-info .contact-list a {
  color: #cacdd0;
  text-decoration: none;
}

footer .container .row .footer-info .contact-list a:hover,
footer .container .row .footer-info .pages-info ul li a:hover {
  color: #4274b7;
}

/* End Footer */

/* Start bottom-footer */
footer .bottom-footer {
  margin-top: 53px;
  background-color: #121b25;
  padding: 30px;
}

footer .bottom-footer .footer-main p {
  color: #585858;
  font-size: 17px;
}

footer .bottom-footer .footer-main a {
  padding: 10px;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-size: 13px;
}

footer .bottom-footer .footer-main a i {
  color: #585858;
  font-size: 17px;
}

footer .bottom-footer .footer-main .fac:hover {
  background-color: #4274b7;
}
footer .bottom-footer .footer-main i:hover {
  color: #fff;
}
footer .bottom-footer .footer-main .goo:hover {
  background-color: #dd4b39;
}
footer .bottom-footer .footer-main .li:hover {
  background-color: #007bb5;
}
footer .bottom-footer .footer-main .tw:hover{
  background-color: #00aced;
}

/* End bottom-footer */